/*Name : Wong Ngou Shan ID : 1155141835*/
:root{
--primary: rgb(255, 238, 204);
--secondary: rgb(102, 51, 0);
}

body{
background: var(--primary) !important;
}

#content{
position: relative;
padding: 100px 10%;
z-index: 1;
background: var(--primary);
}

#banner-background{
position: fixed;
width: 110%;
height: 49vh;
object-fit: cover;
object-position: 50% 38%;
transform: translate(-5%, 0px);
filter: blur(3px) brightness(0.6);
}

#it1{
position: absolute;
max-height: 125%;
bottom: -30%;
left: 8%;
}

#itt1{
position: absolute;
width: 300px;
left: 25%;
top: 59.2%;
}

#sep1, #sep2, #bar{
transition: 0.3s;
}

img.bigpic{
width:200px;
height:200px;
object-fit: cover;
}

section img.smallpic{
width:100%;
height:100%;
transition: 0.3s;
object-fit: cover;
}

@media only screen and (min-width: 1280px) {
  #itt1 {
width: 50vh;
  }
}

#placeholder{
height: 48vh;
}

header{
position: fixed;
width: 100%;
height: 48vh;
z-index: 0;
}

nav, #special_hidden{
position: relative;
background-color: var(--secondary);
z-index: 0;
transition: 0.3s;
}

nav a, #sidebar a{
color: var(--primary);
text-decoration: none;
}

.sidebaritem{
  border-radius: 3px;
  background: transparent;
  transition: color 0.3s, background 0.3s;
  padding: 3px 7px;
  font-weight: 500;
}

section .bkg2 h1{
  color: var(--primary);
}

section .bkg1{
background-color: #F6DA93;
}

#link a{
transition: background 0.3s;
}

#link a:hover{
background-color: #f5d27a;
}

section .bkg2{
background-color: var(--secondary);
}

.hobbiesitem{
  color: var(--secondary);
  border-radius: 3px;
  background: var(--primary);
  padding: 3px 7px;
  font-weight: 500;
}

.sidebaritem:link, .sidebaritem:visited{
  color: var(--primary);
  text-decoration: none;
}

footer a:link, footer a:visited, footer a:hover, footer a:active{
  color: white;
  text-decoration: none;
}

.current, .sidebaritem:hover, .sidebaritem:active{
  color: var(--secondary) !important;
  background: var(--primary);
  text-decoration: none;
}


button{
  background: Transparent;
  border-width: 0px;
}

div.seperator-1{
  height: 14px;
}

div.seperator-2{
  height: 60px;
}

.chi {
  font-family: 'Noto Sans TC', sans-serif;
}

.chi p{
  font-weight: 400;
}

.chi h2{
  font-weight: 700;
}

.eng{
  font-family: 'Outfit', sans-serif;
}

footer{
position: relative;
font-weight: 300;
background: var(--secondary);
display: flex;
justify-content: space-around;
align-items: center;
padding: 20px 0px;
}

footer a{
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
text-align: center;
}

footer a img{
width: 24px;
filter: brightness(0) invert(1);
}